<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="certifi.css">
    <title></title>
  </head>
  <body>

  <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
  <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
         <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
         <br><br>
         <span style="font-size:25px"><i>This is to Awarded to</i></span>
         <br><br>
         <span style="font-size:30px"><b>{{username}}</b></span><br/><br/>
         <span style="font-size:25px"><i>in recognition of achieving</i></span> <br/><br/>
         <span style="font-size:30px">quizz in {{quiz_name}}</span> <br/><br/>
         <span style="font-size:20px">with score of <b>{{percent}}%</b></span> <br/><br/><br/><br/>
         <span style="font-size:25px"><i>Certified by The Great</i></span><br>

        <span style="font-size:30px">Mahi Shetty</span>
  </div>
  </div>
  </body>
</html>