{% extends 'layout.html' %}


{% block title %}

About Page

{% endblock %}


{% block body_block %}

<br>

<h3>➤ We Design Web Application For.</h3>

<ul>
    <h4><li>Online Test</li></h4>
    <h4><li>Online Exams</li></h4>
    <h4><li>Online Quizzes</li></h4>
</ul>

<h3>➤ For more information and queries click on contact and fill your details.</h3>

<br>

<br>

<h3>➤ End-to-end Data Analytics Projects.</h3>

<ul>
    <h4><li>Performing data analysis and visualization.</li></h4>
    <h4><li>Using machine learning model for predictive analysis.</li></h4>
    <h4><li>Creating the report or dashboard</li></h4>
</ul>

<h3>➤ For more information and queries click on contact and fill your details.</h3>

<br>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
     
<div class="container">
  <div class="content">
    <div class="left-side">

      

      <div class="address details">
<!--        <a href="https://admin.google.com/u/0/ServiceNotAllowed?service=local&hl=en"><i class="fas fa-map-marker-alt"></i></a>-->
        <div class="topic"><h4><strong>Address</strong></h4></div>

        <div class="text-one">Skill Test Quizzes</div>
        <div class="text-one">#77 SS Tower, 3rd Floor</div>
        <div class="text-one">Kothnur Main Road, J P Nagar 7th Phase</div>
        <div class="text-two">Bengaluru, Karnataka PIN-5600078</div>
      </div>

      <br>

      <div class="phone details">
        <i class="fas fa-phone-alt"></i>
        <div class="topic"><h4><strong>Phone</strong></h4></div>
        <div class="text-one">+91 7892260476</div>
        <div class="text-two">+91 9902126849</div>
      </div>

      <br>

      <div class="email details">
        <i class="fas fa-envelope"></i>
        <div class="topic"><h4><strong>Email</strong></h4></div>
        <div class="text-one">namratagaland@gmail.com</div>
        <div class="text-two">roshan49@gmail.com</div>
        <div class="text-two">rharshith387@gmail.com</div>
      </div>

    </div>
  </div>
</div>


{%  endblock  %}